// VARIABLES
$footer-padding: 2%;
//H4
$footer-font-size : ( //FOOTER
mobile : .8em,
tablette : 1.2em,
petit : 1.5em,
grand : 2em,
);


// FONTS
h4{
    .footer{
        color: $col-sec;
        font-size : map-get($footer-font-size, grand );
        @include mobile {
            font-size : map-get($footer-font-size, mobile );
        }
        @include tablette {
            font-size : map-get($footer-font-size, tablette );
        }
        @include petit-ecran {
            font-size : map-get($footer-font-size, petit );
        }
    }
}


// STRUCTURE
footer{
    position: fixed;
    bottom: 0em;
    left: 0em;
    width: 100% - $footer-padding * 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $footer-height;
    background-color: $col-prim;
    flex-direction: row;
    border-top: $size-border $col-border solid ;
    padding: $footer-padding;
    @include mobile{
        height : 30px;
    }
} 

// ANIM
.footer{
    &__txt{
        &:hover{
            animation: wiggle $wiggle-duration $wiggle-timing infinite alternate-reverse;
        }
    }
}