footer{
    position: fixed;
    bottom: 0em;
    left: 0em;
    width: 100% - $footer-padding * 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $footer-height;
    background-color: $col-prim;
    flex-direction: row;
    border-top: $size-border $col-border solid ;
    padding: $footer-padding;
    @include mobile{
        height : 30px;
    }
} 

.footer{
    &__txt{
        &:hover{
            animation: wiggle $wiggle-duration $wiggle-timing infinite alternate-reverse;
        }
    }
}