.logo {
    width: $logowidth;
    margin:auto;
    @include mobile{
        width: $logowidth/2 ;
    }
    @include tablette{
        width: $logowidth/1.5;
    }
}

header{
    display: flex;
    width: 100%;
    height: $header-height ;
    background-color: $col-prim;
    border-bottom: $size-border $col-border solid ;
    @include mobile{
        height: $header-height/2;
    }
    @include tablette{
        height: $header-height/1.5;
    }
}