.liste-menus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.menu{
    @include menu-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: $small-menu-width;
    height: $small-menu-height;
    margin: 4%;
    text-align: center;
    transform: scale(1);
    opacity: 1;
    transition: all $menu-timing;
    &--1note{
        background-color: $col-1note ;
    }
    &--2chic{
        background-color: $col-2chic;
    }
    &--3delice{
        background-color: $col-3delice;
    }
    &--4gout{
        background-color: $col-4gout;
    }
    &:hover{
        transform: $menu-scale;
        opacity: $menu-opacity;
    }
}

.grandmenu{
    @include menu-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: $big-menu-width;
    height: $big-menu-height;
    margin: auto;
    text-align: center;
        &--1note{
        background-color: $col-1note ;
    }
}

table{
    width: 935px;
}

td{
    &.menu-plat{
        text-align: left;
    }
    &.menu1-prix{
        text-align: right;
        font-weight: bold;
    }
}

.underbar{
    color: red;
}