.liste-menus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.menu{
    @include menu-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: $small-menu-width;
    height: $small-menu-height;
    margin: 4%;
    overflow: hidden;
    text-align: center;
    transform: scale(1);
    opacity: 1;
    transition: all $menu-timing;
    &--1note{
        background-color: $col-1note ;
    }
    &--2chic{
        background-color: $col-2chic;
    }
    &--3delice{
        background-color: $col-3delice;
    }
    &--4gout{
        background-color: $col-4gout;
    }
    &:hover .zoom{
        transform: $menu-scale;
        opacity: $menu-opacity;
    }
}

.zoom{
    max-width: 100%;
    max-height: 100%;
    transition: 0.75s;
}

.grandmenu{
    @include menu-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: $big-menu-width;
    height: $big-menu-height;
    margin: auto;
    text-align: center;
        &--1note{
        background-color: $col-1note ;
    }
}

table{
    width: 935px;
}

td{
    padding-bottom: 2em;
    &.menu-plat{
        text-align: left;
    }
    &.menu-prix{
        text-align: end;
        font-weight: bold;
    }
    &.barre-gauche{
        text-align: start;
        width: 30%;
    }
    &.barre-droite{
        text-align: end;
        width: 30%;
    }
}

td.titre{
    text-align: center;
    display: inline-block;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 5px;
        left: 0;
        bottom: 30px;
        background-color: $col-1note-txt;
        transform-origin: bottom right ;
        transition: transform 0.5s ease-out;           
    }
    &:hover::before{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

