@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@700&family=Gelasio:wght@700&family=Kaushan+Script&family=Montserrat:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@keyframes wiggle {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}
@keyframes underline {}
@keyframes points {
  from {
    width: 0;
  }
}
body {
  background-color: white;
  margin: 0px;
  max-width: 100%;
}

.blocpage {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contenu-page {
  margin-bottom: 200px;
}
@media screen and (max-width: 800px) {
  .contenu-page {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .contenu-page {
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .contenu-page {
    margin-bottom: 160px;
  }
}

h1, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

h1.titre-resto {
  font-size: 4em;
  margin: 1.5em 0 1em 0;
  color: #353535;
  text-align: center;
  font-weight: 700;
}
@media screen and (max-width: 800px) {
  h1.titre-resto {
    font-size: 2em;
  }
}

h2.menu1 {
  font-family: "Pacifico", cursive;
  font-size: 4.4em;
  color: #3d1319;
  margin-top: 0.5em;
}
@media screen and (max-width: 800px) {
  h2.menu1 {
    font-size: 2.5em;
  }
}
h2.menu2 {
  font-family: "Croissant One", cursive;
  font-size: 4.4em;
  color: #c77412;
  margin-top: 0.5em;
}
@media screen and (max-width: 800px) {
  h2.menu2 {
    font-size: 2.5em;
  }
}

h3, h4 {
  color: #fdcb46;
}

h3.btn {
  font-size: 4em;
  font-weight: 300;
  text-align: left;
  margin-top: 3%;
}
@media screen and (max-width: 800px) {
  h3.btn {
    font-size: 2em;
  }
}
h3.menu1 {
  margin: 0em;
  font-size: 1.5em;
  text-align: center;
  font-family: "Kalam", cursive;
  color: #3d1319;
}
h3:hover {
  animation: underline cubic-bezier(0.48, 0.01, 0.7, 0.97) 300ms backwards;
}
@media screen and (max-width: 800px) {
  h3 {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  h3 {
    font-size: 1em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  h3 {
    font-size: 1.2em;
  }
}

h4.footer {
  font-size: 3em;
  font-weight: 500;
  margin: 0;
}
@media screen and (max-width: 800px) {
  h4.footer {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  h4.footer {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  h4.footer {
    font-size: 2.5em;
  }
}

h5 {
  font-size: 4em;
  margin: 1em 0 0 0;
}
h5.menu1 {
  text-transform: uppercase;
  color: #3d1319;
  font-family: "Kalam", cursive;
}
h5.menu2 {
  font-family: gelasio, courier, serif;
  color: #c77412;
}
h5.menu3 {
  color: #0887fb;
  font-family: "Kalam", cursive;
}
h5.menu4 {
  color: #72bf56;
  font-family: "Kalam", cursive;
}
@media screen and (max-width: 800px) {
  h5 {
    font-size: 2.4em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  h5 {
    font-size: 3.2em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  h5 {
    font-size: 3.8em;
  }
}

h6, h6:link {
  font-size: 3em;
  margin: 0;
}
h6.menu1, h6:link.menu1 {
  font-family: "Pacifico", cursive;
  color: #3d1319;
}
h6.menu2, h6:link.menu2 {
  font-size: 2em;
  font-family: "Croissant One", cursive;
  background-image: linear-gradient(-20deg, #905bfd, #f89d3d);
  background-size: 100%;
  padding-right: 10px;
  padding-left: 10px;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h6.menu3, h6:link.menu3 {
  font-family: "Dancing Script", cursive;
  background-image: linear-gradient(-15deg, #0431df, #0887fb);
  background-size: 100%;
  padding-right: 10px;
  padding-left: 10px;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h6.menu4, h6:link.menu4 {
  font-family: "Kaushan Script", cursive;
  background-image: linear-gradient(30deg, #3d9339, #bfff7e);
  background-size: 100%;
  padding-right: 10px;
  padding-left: 10px;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
@media screen and (max-width: 800px) {
  h6, h6:link {
    font-size: 2em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  h6, h6:link {
    font-size: 2.3em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  h6, h6:link {
    font-size: 2.7em;
  }
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}
a.footer, a:visited.footer, a:hover.footer, a:active.footer {
  color: #fdcb46;
}

table.menu1 {
  font-size: 1.5em;
  line-height: 1em;
  color: #3d1319;
  font-family: "Kalam", cursive;
}
@media screen and (max-width: 800px) {
  table.menu1 {
    font-size: 1em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  table.menu1 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  table.menu1 {
    font-size: 1.3em;
  }
}
table.menu2 {
  font-size: 1.5em;
  line-height: 1em;
  color: #c77412;
  font-family: "Croissant One", cursive;
}
@media screen and (max-width: 800px) {
  table.menu2 {
    font-size: 1em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  table.menu2 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  table.menu2 {
    font-size: 1.3em;
  }
}

p.footer {
  font-size: 3em;
  margin: 0 0 0 0.5em;
}
p.footer.menu1 {
  font-family: "Pacifico", cursive;
  color: #3d1319;
}
@media screen and (max-width: 800px) {
  p.footer {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  p.footer {
    font-size: 2.2em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  p.footer {
    font-size: 2.7em;
  }
}

.logo {
  width: 450px;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .logo {
    width: 225px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .logo {
    width: 300px;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin: 0 0 3em 0;
}
@media screen and (max-width: 800px) {
  .button {
    margin: 0 0 1.5em 0;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .button {
    margin: 0 0 2em 0;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .button {
    margin: 0 0 2.5em 0;
  }
}

.btn-prochainement {
  display: flex;
  justify-content: left;
  background-color: #579c87;
  border-radius: 20px;
  height: 115px;
  width: 650px;
  margin-top: 80px;
  padding-left: 4%;
}
@media screen and (max-width: 800px) {
  .btn-prochainement {
    width: 300px;
    height: 65px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .btn-prochainement {
    width: 580px;
    height: 95px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .btn-prochainement {
    width: 600px;
    height: 105px;
  }
}

.points {
  font-size: 4em;
  font-weight: 300;
  padding-top: 3%;
  margin-left: 1%;
  text-align: left;
  color: #fdcb46;
  white-space: normal;
  overflow: hidden;
  width: 3em;
  animation: points 1500ms infinite;
}
@media screen and (max-width: 800px) {
  .points {
    font-size: 2em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .points {
    font-size: 2.5em;
    margin-top: 4%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .points {
    font-size: 3em;
    margin-top: 3%;
  }
}

i.fas.fa-music {
  font-size: 70px;
  background-image: linear-gradient(to right, #f15861, #f78f6a);
  background-size: 100%;
  padding-right: 10px;
  padding-left: 10px;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
i.fas.fa-music.index {
  font-size: 5em;
}
@media screen and (max-width: 800px) {
  i.fas.fa-music.index {
    font-size: 3em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  i.fas.fa-music.index {
    font-size: 3.5em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  i.fas.fa-music.index {
    font-size: 4.3em;
  }
}
i.fas.fa-music.header {
  font-size: 8em;
  margin-top: 0.5em;
}
@media screen and (max-width: 800px) {
  i.fas.fa-music.header {
    font-size: 4em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  i.fas.fa-music.header {
    font-size: 5.5em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  i.fas.fa-music.header {
    font-size: 6.6em;
  }
}
i.fas.fa-music.footer {
  font-size: 4em;
}
@media screen and (max-width: 800px) {
  i.fas.fa-music.footer {
    font-size: 2em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  i.fas.fa-music.footer {
    font-size: 3em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  i.fas.fa-music.footer {
    font-size: 3.5em;
  }
}

header {
  display: flex;
  width: 100%;
  height: 245px;
  background-color: #579c87;
  border-bottom: 4px #a1c181 solid;
}
@media screen and (max-width: 800px) {
  header {
    height: 122.5px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  header {
    height: 163.3333333333px;
  }
}

footer {
  position: fixed;
  bottom: 0em;
  left: 0em;
  width: 96%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #579c87;
  flex-direction: row;
  border-top: 4px #a1c181 solid;
  padding: 2%;
}
@media screen and (max-width: 800px) {
  footer {
    height: 30px;
  }
}

.footer__txt:hover {
  animation: wiggle 300ms cubic-bezier(0.27, 0.08, 0.62, 0.81) infinite alternate-reverse;
}

.liste-menus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.menu {
  box-shadow: 0px 0px 40px -20px #888;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 50em;
  margin: 4%;
  overflow: hidden;
  text-align: center;
  transform: scale(1);
  opacity: 1;
  transition: all 450ms;
}
.menu--1note {
  background-color: #fcdfdb;
}
.menu--2chic {
  background-color: #fff5fe;
}
.menu--3delice {
  background-color: #f9f9f9;
}
.menu--4gout {
  background-color: #fdfffd;
}
.menu:hover .zoom {
  transform: scale(1.1);
  opacity: 0.5;
}
@media screen and (max-width: 800px) {
  .menu {
    width: 80%;
    height: 33.3333333333em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .menu {
    height: 25em;
  }
}

.zoom {
  max-width: 100%;
  max-height: 100%;
  transition: 0.75s;
}

.grandmenu {
  box-shadow: 0px 0px 40px -20px #888;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  height: 100%;
  margin: auto;
  text-align: center;
}
.grandmenu--1note {
  background-color: #fcdfdb;
}
.grandmenu--2chic {
  background-color: #fff5fe;
}

table {
  width: 85%;
}

td {
  padding-bottom: 2em;
}
td.menu-plat {
  text-align: left;
}
td.menu-prix {
  text-align: end;
  font-weight: bold;
}
td.barre-gauche {
  text-align: start;
}
td.barre-droite {
  text-align: end;
  width: 30%;
}

td.titre {
  text-align: center;
  display: inline-block;
  position: relative;
}
td.titre::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  left: 0;
  bottom: 30px;
  background-color: #3d1319;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
td.titre:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

.barre1 {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .barre1 {
    width: 50%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .barre1 {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .barre1 {
    width: 75%;
  }
}

.grandmenu {
  box-shadow: 0px 0px 40px -20px #888;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  height: 100%;
  margin: auto;
  text-align: center;
}
.grandmenu--2chic {
  background-color: #fff5fe;
}

table {
  width: 85%;
}

td {
  padding-bottom: 2em;
}
td.menu-plat {
  text-align: left;
}
td.menu-prix {
  text-align: end;
  font-weight: bold;
}
td.barre-gauche {
  text-align: start;
}
td.barre-droite {
  text-align: end;
  width: 30%;
}

td.titre {
  text-align: center;
  display: inline-block;
  position: relative;
}
td.titre::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  left: 0;
  bottom: 30px;
  background-color: #3d1319;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
td.titre:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

.barre1 {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .barre1 {
    width: 50%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .barre1 {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .barre1 {
    width: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
