@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@700&family=Gelasio:wght@700&family=Kaushan+Script&family=Montserrat:wght@400;700&family=Zhi+Mang+Xing&display=swap");
@keyframes wiggle {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}
@keyframes underline {}
@keyframes points {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}
body {
  background-color: white;
  margin: 0px;
  max-width: 100%;
}

.blocpage {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contenu-page {
  margin-bottom: 120px;
}

h1, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3em;
  color: #353535;
  text-align: center;
  font-weight: 500;
}

h2.menu1 {
  font-family: "Zhi Mang Xing", cursive;
  font-size: 4.4em;
  color: #3d1319;
}

h3, h4 {
  color: #fdcb46;
  margin: auto;
}

h3.btn {
  font-size: 4em;
  font-weight: 300;
  padding-top: 3%;
}
h3.menu1 {
  font-size: 2.5em;
  font-family: "Segoe Print", Tahoma, Geneva, Verdana, sans-serif;
  color: #3d1319;
}
h3.menu1:hover {
  animation: underline cubic-bezier(0.48, 0.01, 0.7, 0.97) 300ms backwards;
}

h4 {
  font-size: 3em;
  font-weight: 500;
}

h5 {
  font-size: 3em;
}
h5.menu {
  font-family: "Segoe Print", Tahoma, Geneva, Verdana, sans-serif;
}

h6 {
  font-size: 3em;
}
h6.menu1 {
  font-family: "Zhi Mang Xing", cursive;
}
h6.menu2 {
  font-family: "Croissant One", cursive;
}
h6.menu3 {
  font-family: "Dancing Script", cursive;
}
h6.menu4 {
  font-family: "Kaushan Script", cursive;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}
a.footer, a:visited.footer, a:hover.footer, a:active.footer {
  color: #fdcb46;
}

table.menu1 {
  font-size: 1.5em;
  line-height: 3em;
  color: #3d1319;
  font-family: "Segoe Print", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 450px;
  margin: auto;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn-prochainement {
  background-color: #579c87;
  border-radius: 20px;
  height: 115px;
  width: 650px;
  margin: 4%;
  justify-content: center;
}

.points {
  position: relative;
  font-size: 3em;
}
.points::before {
  content: attr(data-points);
  position: absolute;
  overflow: hidden;
  max-width: 3em;
  white-space: nowrap;
  animation: points 1s alternate-reverse;
}

.fa-music {
  font-size: 70px;
  color: linear-gradient(red, yellow);
}

header {
  display: flex;
  width: 100%;
  height: 245px;
  background-color: #579c87;
  border-bottom: 4px #a1c181 solid;
}

footer {
  position: fixed;
  bottom: 0em;
  left: 0em;
  width: 96%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #579c87;
  flex-direction: row;
  border-top: 4px #a1c181 solid;
  padding: 2%;
}

.footer__txt:hover {
  animation: wiggle 300ms cubic-bezier(0.27, 0.08, 0.62, 0.81) infinite alternate-reverse;
}

.liste-menus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.menu {
  box-shadow: 0px 0px 40px -20px #888;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 540px;
  height: 760px;
  margin: 4%;
  text-align: center;
  transform: scale(1);
  opacity: 1;
  transition: all 450ms;
}
.menu--1note {
  background-color: #fcdfdb;
}
.menu--2chic {
  background-color: #fff5fe;
}
.menu--3delice {
  background-color: #f9f9f9;
}
.menu--4gout {
  background-color: #fdfffd;
}
.menu:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.grandmenu {
  box-shadow: 0px 0px 40px -20px #888;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1180px;
  height: 1680px;
  margin: auto;
  text-align: center;
}
.grandmenu--1note {
  background-color: #fcdfdb;
}

table {
  width: 935px;
}

td.menu-plat {
  text-align: left;
}
td.menu1-prix {
  text-align: right;
  font-weight: bold;
}

.underbar {
  color: red;
}

/*# sourceMappingURL=style.css.map */
