.btn{
    display: flex;
    justify-content: center;
}

.btn-prochainement{
    background-color: $col-prim;
    border-radius: 20px;
    height: 115px;
    width: 650px;
    margin : $margin-btn;
    justify-content: center;
}

.points{
    position: relative;
    font-size: 3em;
    &::before{
        content: attr(data-points);
        position:absolute;
        overflow: hidden;
        max-width: 3em;
        white-space: nowrap;
        animation: points 1s alternate-reverse;
        }
}