.btn{
    display: flex;
    justify-content: center;
}

.btn-prochainement{
    background-color: $col-prim;
    border-radius: 20px;
    height: 115px;
    width: 650px;
    margin : $margin-btn;
    justify-content: left;
}

.points{
        font-size: 20px;
        margin: 10px 0 0 10px;
        white-space: nowrap;
        overflow: hidden;
        width: 3em;
        animation: points 1s steps(60, end) alternate-reverse infinite; 
}