// <style>
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@700&family=Gelasio:wght@700&family=Kaushan+Script&family=Montserrat:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;500;600;700&display=swap'); // Kalam // "menu"
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;300;500;700&display=swap'); //Bitter // menu 2 font 2
// </style>

// font-family: 'Croissant One', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Gelasio', serif;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Pacifico', cursive;
// font-family: 'Kalam', cursive;
// font-family: 'Bitter', serif;

// TITRES
h1, h3, h4{
    font-family: $lineale ;
}

h1{
    &.titre-resto{
    font-size: $h1-titre-menu-size;
    margin: 1.5em .5em 1em .5em;
    color: $black;
    text-align: center; 
    font-weight: 700;
    @include mobile{
        font-size: 2em ;
    }
    }
}

h2{
    &.resto{
        font-size: map-get($h2-size, grand );
        color: $col-1note-txt;
        @include mobile{
            font-size: map-get($h2-size, mobile ) ;
        }
        @include tablette{
            font-size: map-get($h2-size, tablette ) ;
        }
        @include petit-ecran{
            font-size: map-get($h2-size, petit ) ;
        }
    }
    &.footer-menu{
        font-size: map-get($h2-footer-font-size, grand );
        font-weight: 500;
        margin:  0 0 0 .2em;
        @include mobile{
            font-size: map-get($h2-footer-font-size, mobile );
        }
        @include tablette{
            font-size: map-get($h2-footer-font-size, tablette );
        }
        @include petit-ecran{
            font-size: map-get($h2-footer-font-size, petit );
        }
    }
    &.legal{
        font-family: $lineale;
        color : $black;
        font-size: map-get($h2-legal-font-size, grand );
        font-weight: 500;
        margin: 3% 0 1% 0 ;
        @include mobile{
            font-size: map-get($h2-legal-font-size, mobile );
        }
        @include tablette{
            font-size: map-get($h2-legal-font-size, tablette );
        }
        @include petit-ecran{
            font-size: map-get($h2-legal-font-size, petit );
        }
    }
}

h3{
    &.btn{
        font-size: map-get($btn-font-size, grand );
        color: $col-sec ;
        font-weight: 300;
        text-align: left;
        margin-top: 3%;
        @include mobile{
            font-size: map-get($btn-font-size, mobile );
        }
    }
    &.moment{ //ENTREE PLAT DESSERT
        margin : 1em;
        line-height: 120%;
        /*font-size: map-get($menu1-font-size, grand );
        text-align: center;
        @include mobile {
            font-size: map-get($menu1-font-size, mobile );
        }
        @include tablette {
            font-size: map-get($menu1-font-size, tablette );
        }
        @include petit-ecran {
            font-size: map-get($menu1-font-size, petit );
        }*/
    }
}

// Footer Mention légales/contact
h4{
    .footer{
        color: $col-sec;
        font-size : map-get($footer-font-size, grand );
        @include mobile {
            font-size : map-get($footer-font-size, mobile );
        }
        @include tablette {
            font-size : map-get($footer-font-size, tablette );
        }
        @include petit-ecran {
            font-size : map-get($footer-font-size, petit );
        }
    }
}


// "Menu" 4 menus index

h5{
    font-size: map-get($h5-font-size, grand );
    margin: 1em 0 0 0;
    &.menu{
        &1{
            text-transform: uppercase;
            color: $col-1note-txt;
            font-family: $menu-font;
        }
        &2{
            font-family: $menu-font2;
            color: $col-2chic-txt-entree;
        }
        &3{
            color: $col-3delice-txt;
            font-family: $menu-font;
        }
        &4{
            color: $col-4gout-txt;
            font-family: $menu-font;
        }
    }
    @include mobile{
        font-size: map-get($h5-font-size, mobile );
    }
    @include tablette{
        font-size: map-get($h5-font-size, tablette );
    }
    @include petit-ecran{
        font-size: map-get($h5-font-size, petit );
    }
}

// Titres restos 4 Menus Index

h6, h6:link{
    font-size: map-get($h6-font-size, grand );
    margin: 0;
    &.menu1{
        @include titre-menu1;
    }
    &.menu2{
        @include titre-menu2;
    }
    &.menu3{
        @include titre-menu3;
    }
    &.menu4{
        @include titre-menu4;
    }
    @include mobile{
        font-size: map-get($h6-font-size, mobile );
    }
    @include tablette{
        font-size: map-get($h6-font-size, tablette );
    }
    @include petit-ecran{
        font-size: map-get($h6-font-size, petit );
    }
}

p {
    font-family: $lineale;
    color: $black;
    padding: 3%;
    text-align: left;
    line-height: 120%;
    font-size: map-get($text, grand );
    @include mobile {
        font-size: map-get($text, mobile );
    }
    @include tablette {
        font-size: map-get($text, tablette);
    }
    @include petit-ecran {
        font-size: map-get($text, petit);
    }
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
        &.footer{
            color: $col-sec;
        }
} 

//TABLEAU
table{
    &.base-menu2{
        font-size: map-get($table2-font-size, grand);
        line-height: map-get($table2-line-height, grand);
        color: $col-2chic-txt-entree;
        font-family: $menu2-font1 ;
        @include mobile{
            font-size: map-get($table2-font-size, mobile);
        }
        @include tablette{
            font-size: map-get($table2-font-size, tablette);
        }
        @include petit-ecran{
            font-size: map-get($table2-font-size, petit);
        }
    }
}