// <style>
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@700&family=Gelasio:wght@700&family=Kaushan+Script&family=Montserrat:wght@400;700&family=Zhi+Mang+Xing&display=swap');
// </style> 

// font-family: 'Croissant One', cursive;

// font-family: 'Dancing Script', cursive;

// font-family: 'Gelasio', serif;

// font-family: 'Kaushan Script', cursive;

// font-family: 'Montserrat', sans-serif;

// font-family: 'Zhi Mang Xing', cursive;

// TITRES
h1, h3, h4{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 3em;
    color: $black;
    text-align: center;
    font-weight: 500;
}

h2{
    &.menu1{
        font-family: $menu1-font1 ;
        font-size: 4.4em;
        color: $col-1note-txt;
    }
}

h3, h4{
    color: $col-sec ;
    margin: auto;

}

h3.btn{
    font-size: 4em;
    font-weight: 300;
}

h3.menu1{
    font-size: 2.5em;
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    color:$col-1note-txt;
}

h4{
    font-size: 3em;
    font-weight: 500;
}

h5{
    font-size: 3em;
    &.menu{
        font-family: $menu-font ;
    }
}

h6{
    font-size: 3em;
    &.menu1{
        font-family: $menu1-font1;
    }
    &.menu2{
        font-family: $menu2-font1;
    }
    &.menu3{
        font-family: $menu3-font1;
    }
    &.menu4{
        font-family: $menu4-font1;
    }
}

a{
    text-decoration: none;
    &.footer{
        color: $col-sec;
    }
} 

table.menu1{
    font-size: 1.5em;
    line-height: 3em;
    color: $col-1note-txt;
    font-family: $menu-font;
} 