.grandmenu{
    @include menu-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: $big-menu-width;
    height: $big-menu-height;
    margin: auto;
    text-align: center;

}

table{
    width: 85%;
}

td{
    padding-bottom: 2em;
    &.menu-plat{
        text-align: left;
    }
    &.menu-prix{
        text-align: end;
        font-weight: bold;
    }
    &.barre-gauche{
        text-align: start;
    }
    &.barre-droite{
        text-align: end;
        width: $width-barre-menu1;
    }
}

td.titre{
    text-align: center;
    display: inline-block;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: $stroke-height;
        left: 0;
        bottom: $bottom-stroke;
        background-color: $col-1note-txt;
        transform-origin: bottom right ;
        transition: transform $stroke-duration ease-out;           
    }
    &:hover::before{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.menu-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $menu-footer-space;
}

.barre1{
    width: map-get($barre1-width, grand ) ;
    @include mobile{
        width: map-get($barre1-width, mobile ) ;
    }
    @include tablette{
        width: map-get($barre1-width, tablette ) ;
    }
    @include petit-ecran{
        width: map-get($barre1-width, petit ) ;
    }
}