hr{
    height: 1em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    border: none;
    margin : 0em;
}

.carte{
    @include menu-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: $big-menu-width;
    height: $big-menu-height;
    margin: auto;
    text-align: center;
}
    
table.base-menu{
    width: 85%;
}

.plat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 85%;
}

td{
    padding: map-get($padding-menu-td, grand );
    @include mobile{
        padding-bottom: map-get($padding-menu-td, grand );
    }
    @include tablette{
        padding-bottom: map-get($padding-menu-td, tablette );
    }
    @include petit-ecran{
        padding-bottom: map-get($padding-menu-td, petit );
    }
    &.menu-plat{
        text-align: left;
    }
    &.menu-prix{
        text-align: end;
        font-weight: 700;
    }
}

.resto{
    margin: map-get($header-menu-margin, grand );
    @include mobile {
        margin: map-get($header-menu-margin, mobile );
    }
    @include tablette {
        margin: map-get($header-menu-margin, tablette );
    }
    @include petit-ecran {
        margin: map-get($header-menu-margin, petit );
    }
}

h3.moment{
    text-align: center;
    display: inline-block;
    position: relative;
    &::before{          // SURLIGNEMENT MENU
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: $stroke-height;
        left: 0;
        bottom: $bottom-stroke;
        transform-origin: bottom right ;
        transition: transform $stroke-duration ease-out;           
    }
    &:hover::before{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.footer-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: map-get($footer-menu-margin, grand );
    @include mobile{
        margin: map-get($footer-menu-margin, mobile );
    }
    @include tablette{
        margin: map-get($footer-menu-margin, tablette );
    }
    @include petit-ecran{
        margin: map-get($footer-menu-margin, petit );
    }
}