// VARIABLES
$menu1-font-size: (  //ENTREE PLAT DESSERT
    mobile : 1em,
    tablette : 1.5em,
    petit : 2em,
    grand : 2.8em,
);

// STRUCTURE
#menu1{
    & .carte{
        background-color: $col-1note;
    }
    & hr{
        width: 30%;
        background-image: url('barres-menus__menu1G.svg');
        &.D{
            background-image: url('barres-menus__menu1D.svg');
        }
    }
    & h2 {
        display: flex;
        flex-direction: column;
        font-family: $menu1-font1;
        color: $col-1note-txt;
    }
    & table, h3.moment{
        font-family: $menu-font;
        color: $col-1note-txt;
        font-size: map-get($menu1-font-size, grand );
        text-align: center;
        @include mobile {
            font-size: map-get($menu1-font-size, mobile );
        }
        @include tablette {
            font-size: map-get($menu1-font-size, tablette );
        }
        @include petit-ecran {
            font-size: map-get($menu1-font-size, petit );
        }
        &.base-menu{
            font-size: map-get($table-font-size, grand);
            line-height: map-get($table-line-height, grand);
            color: $col-1note-txt;
            @include mobile{
                font-size: map-get($table-font-size, mobile);
            }
            @include tablette{
                font-size: map-get($table-font-size, tablette);
            }
            @include petit-ecran{
                font-size: map-get($table-font-size, petit);
            }
        }
        &::before{
            background-color: $col-1note-txt;
        }
    }
    &td, th{
        &.menu-plat {
            font-weight: 300;
        }
        &.menu-prix{
            font-weight: 700;
        }
    }
}

