@keyframes wiggle{
    0% {
        transform: translateX($wiggleX);
    }

    100%{
        transform: translateX($wiggleX*-1);
    }
}

@keyframes underline{
    0%{

    }
    100%{

    }
}

@keyframes points{
    from { width: 0; }
}