// VARIABLES
    // WIGGLE
$wiggleX: 5px;
$wiggle-duration: 300ms;
$wiggle-timing: cubic-bezier(.27,.08,.62,.81);
    
// KEYFRAMES
    // WIGLE FOOTER
@keyframes wiggle{
    0% {
        transform: translateX($wiggleX);
    }

    100%{
        transform: translateX($wiggleX*-1);
    }
}

    // UNDERLINE MENU ENTREE PLAT DESSERT
@keyframes underline{
    0%{

    }
    100%{

    }
}

    // POINTS PROCHAINEMENT
@keyframes points{
    from { width: 0; }
}