$breakpoints: (
    mobile: 800px,
    tablette: 1000px,
    petit-ecran: 1200px,
    grand-ecran: 1400px
);

@mixin mobile {
    @media screen and (max-width:map-get($breakpoints,mobile)) {
        @content;
    }
}

@mixin tablette {
    @media screen and (min-width:map-get($breakpoints,mobile)) and (max-width:map-get($breakpoints,tablette)) {
        @content;
    }
}

@mixin petit-ecran {
    @media screen and (min-width:map-get($breakpoints,tablette)) and (max-width:map-get($breakpoints,petit-ecran)) {
        @content;
    }
}