//COULEURS

$col-prim: #579c87;
$col-sec: #fdcb46;
$col-1note: #fcdfdb ;
$col-2chic: #fff5fe;
$col-3delice: #f9f9f9;
$col-4gout: #fdfffd;
$col-border: #a1c181;
$col-shadow: #888;

// TAILLES BLOCS
$logowidth: 450px;
$size-border: 4px;
$margin-btn : 4%;
$menu-width : 540px;
$menu-height: 760px;


// SHADOW
$shadow-X : 0px;
$shadow-Y : 0px;
$shadow-prog : 40px;
$shadow-size : -20px;

// TAILLES TYPOS
$h1-size: 3em;