//COULEURS

$col-prim: #579c87;
$col-sec: #fdcb46;
$black : #353535;
$col-1note: #fcdfdb ;
$col-2chic: #fff5fe;
$col-3delice: #f9f9f9;
$col-4gout: #fdfffd;
$col-border: #a1c181;
$col-shadow: #888;
$col-1note-txt: #3d1319;
$col-2chic-txt-entree: #c77412;
$col-2chic-txt-resistance: #a56799;
$col-2chic-txt-dessert: #6e4ccc;
$col-3delice-txt: #0887fb;
$col-3delice-txt-entree : #0228dd;
$col-3delice-txt-resistance : #0670f3;
$col-3delice-txt-dessert : #229df9;
$col-3delice-txt-menu: #333;
$col-4gout-txt: #72bf56;
$col-4gout-txt-menu: #444;


// TAILLES BLOCS
    //HEADER
$header-height: 245px;
$logowidth: 450px;
$size-border: 4px;
    //FOOTER
$footer-height: 40px;
$footer-padding: 2%;
    //4 MENUS
$small-menu-width: 40%;
$small-menu-height: 50em;
$margin-menu-index: 4%;
    // BOUTON
$btn-width : (
    mobile :  300px,
    tablette : 580px,
    petit : 600px, 
    grand : 650px,
    );
$btn-height : (
    mobile :  65px,
    tablette : 95px,
    petit : 105px, 
    grand : 115px,
    );
$margin-btn : (
    mobile :  0 0 1.5em 0,
    tablette : 0 0 2em 0,
    petit : 0 0 2.5em 0, 
    grand : 0 0 3em 0,
    );
    // GRAND MENU
$big-menu-width : 85%;
$big-menu-height: 100%;
$header-menu-margin : (
    mobile : .9em 0em .4em 0em,
    tablette : 1.3 0em .6em 0em,
    petit : 1.7 0em .8em 0em,
    grand : 2em 0em 1em 0em
    );
$footer-menu-margin :  (
    mobile : 2em 0 2.5em 0,
    tablette : 3em 0 4em 0,
    petit : 4.5em 0 6em 0,
    grand : 6em 0 8em 0 
    );
$padding-menu-td : (
    mobile : .1em 0 .5em 0 ,
    tablette : .1em 0 .6em 0 ,
    petit : .2em 0 .8em 0 ,
    grand : .2em 0em 1em 0 ,
);

// TAILLES TYPOS
    // FAMILLES
$menu1-font1 : 'Pacifico', cursive;
$menu2-font1 : 'Croissant One', cursive;
$menu2-font2 : 'Bitter', serif;
$menu3-font1 : 'Dancing Script', cursive;
$menu4-font1 : 'Kaushan Script', cursive;
$menu-font: 'Kalam', cursive;
$menu-font2: gelasio, courier, serif;
    // H1
$h1-titre-menu-size: 4em;
    //H2
$h2-titre-menu-margin-top: 0.5em;
$h2-size: (
    mobile : 1.5em,
    tablette : 2.5em,
    petit: 3em,
    grand : 4em,
);
$h2-footer-font-size: (
    mobile : 1.2em,
    tablette : 1.8em,
    petit: 2.5em,
    grand : 3em,
);
    //H3
$btn-font-size: (
    mobile : 2em,
    tablette : 2.5em,
    petit: 3em,
    grand : 4em,
    );
$menu1-font-size: (  //ENTREE PLAT DESSERT
    mobile : 1em,
    tablette : 1.5em,
    petit : 2em,
    grand : 2.8em,
    );
$menu2-font-size: (  //ENTREE PLAT DESSERT
    mobile : 1em,
    tablette : 1.5em,
    petit : 2em,
    grand : 1.7em,
    );
$menu3-font-size: (  //ENTREE PLAT DESSERT
    mobile : 1em,
    tablette : 1.5em,
    petit : 2em,
    grand : 1.7em,
    );
$menu4-font-size: (  //ENTREE PLAT DESSERT
    mobile : 1em,
    tablette : 1.2em,
    petit : 1.7em,
    grand : 2em,
    );
    //H4
$footer-font-size : ( //FOOTER
    mobile : .8em,
    tablette : 1.2em,
    petit : 1.5em,
    grand : 2em,
    );
    //H5
$h5-font-size: (
    mobile : 2.2em,
    tablette : 3.2em,
    petit : 3.8em,
    grand : 4em
    );
    //H6
$h6-font-size: (
    mobile : 1.7em,
    tablette : 2.3em,
    petit : 2.7em,
    grand : 3em,
    );
    // TABLEAU
$table1-font-size: (
    mobile : 1em,
    tablette : 1.2em,
    petit : 1.3em,
    grand : 1.5em
);
$table1-line-height: (
    mobile : .7em,
    tablette : .8em,
    petit : .9em,
    grand : 1em
);
$table2-font-size: (
    mobile : 1em,
    tablette : 1.2em,
    petit : 1.3em,
    grand : 1.5em
);
$table2-line-height: (
    mobile : .7em,
    tablette : .8em,
    petit : .9em,
    grand : 1em
);
    //P
$footer-menu1-font-size: (
    mobile : 1.7em,
    tablette : 2.2em,
    petit : 2.7em,
    grand : 3em,
);    
    
    
// ELEMENTS
    // SHADOW
$shadow-X : 0px;
$shadow-Y : 0px;
$shadow-prog : 40px;
$shadow-size : -20px;
    // BARRES GRAND MENU
$width-barre-menu1: 30%;
    // ICONS
$icon1-index-size : (
    mobile : 3em,
    tablette : 3.5em,
    petit : 4.3em,
    grand : 5em,
    );
$icon1-menu-header-size: (
    mobile : 4em,
    tablette : 5em,
    petit : 6.6em,
    grand : 8em,
    );
$icon1-menu-header-margintop: (
    mobile : .5em,
    tablette : .7em,
    petit : .8em,
    grand : 1em
    );
$icon1-menu-footer: (
    mobile : 2em,
    tablette : 3em,
    petit : 3.5em,
    grand : 4em,
    );

// KEYFRAMES
    // WIGGLE
$wiggleX: 5px;
$wiggle-duration: 300ms;
$wiggle-timing: cubic-bezier(.27,.08,.62,.81);
    // MENU
$menu-scale: scale(1.1);
$menu-timing: 450ms;
$menu-opacity: .5;
$underline-timing: cubic-bezier(.48,.01,.7,.97);
$underline-duration: 300ms;
$zoom-transition: 0.75s;
    // TRAIT ENTREE PLAT DESSERT
$stroke-height: 5px;
$bottom-stroke: 0em;
$stroke-duration: 0.5s;