#menu2{
    & .carte{
        background-color: $col-2chic;
    }
    & hr{
        width: 30%;
        &.D{
        transform: scaleX(-1);
        }
    }
    & h2 {
        @include titre-menu2;
    }
    & table{
        &.base-menu{
            font-size: map-get($table1-font-size, grand);
            line-height: map-get($table1-line-height, grand);
            @include mobile{
                font-size: map-get($table1-font-size, mobile);
            }
            @include tablette{
                font-size: map-get($table1-font-size, tablette);
            }
            @include petit-ecran{
                font-size: map-get($table1-font-size, petit);
            }
        }
    }
    & h3.moment{
        font-family: $menu2-font2;
        font-size: map-get($menu2-font-size, grand );
        text-align: center;
        @include mobile {
            font-size: map-get($menu2-font-size, mobile );
        }
        @include tablette {
            font-size: map-get($menu2-font-size, tablette );
        }
        @include petit-ecran {
            font-size: map-get($menu2-font-size, petit );
        }
    }

    & .entree{
        & hr{
            background-image: url('barres-menus__menu2-entree.svg');
        }
        color : $col-2chic-txt-entree;
        ::before{
            background-color: $col-2chic-txt-entree;
        }
    }
    
    & .resistance{
        & hr{
            background-image: url('barres-menus__menu2-resistance.svg');
        }
        color : $col-2chic-txt-resistance;
        ::before{
            background-color: $col-2chic-txt-resistance;
        }
    }
    
    & .dessert{
        & hr{
            background-image: url('barres-menus__menu2-dessert.svg');
        }
        color : $col-2chic-txt-dessert;
        ::before{
            background-color: $col-2chic-txt-dessert;
        }
    }
    
    & td{
        &.menu-plat {
        font-weight: 200;
        }
        &.menu-prix{
        font-weight: 300;
        }
    }
}

